<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    <title>{% block title %}{% endblock %} - Worst Nightmare</title>

    <link rel="stylesheet" type="text/css" href="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="lib/leaflet/leaflet.ie.css" />
    <![endif]-->

    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="//cdn.leafletjs.com/leaflet-0.7.1/leaflet-src.js"></script>

    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <div class="footer">
      {% block footer %}
      &copy; 2014 <a href="http://openstreetmap.it/">OpenStreetMap Italia</a>.
      {% endblock %}
    </div>
  </body>
</html>