{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="icon" type="image/png" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/images/spritesheet-2x.png">
  <link rel="icon" type="image/png" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/images/spritesheet.png">

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ControlMiniMap/Control.MiniMap.css') }}" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/worstnightmare.css') }}" />

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="leaflet.draw.ie.css" />
  <![endif]-->

  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-layerjson.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.markercluster.js') }}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
{% endblock %}
{% block content %}
  <h1>Map Compare</h1>

  <div>
    <ul>
    Latitudine: <span id="final-lat"></span> - <span id="tile-x"></span> <br />
    Longitudine: <span id="final-lon"></span> - <span id="tile-y"></span> <br />
    </ul>
  </div>

  <br />

  <div id="map1" class="map"></div>
  <div id="map2" class="map"></div>

  <!-- 
  <div id="map1" style="height:50%; width: 100%;"></div>
  <br />
  <br />
  <div id="map2" style="height:50%; width: 100%;"></div>
  -->

   <!-- Leaflet Sync (mappe stile MapCompare) -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/Leaflet.Sync/L.Map.Sync.js') }}"></script>

  <!-- Leaflet hash (url mappa) -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-hash/leaflet-hash.js') }}"></script>

  <!-- minimappa -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/ControlMiniMap/Control.MiniMap.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/map_api.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/worstnightmare.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/sync.js') }}"></script>
{% endblock %}